[submodule "DeployDeepModelKubernetes"]
	path = submodules/DeployDeepModelKubernetes
	url = https://github.com/Microsoft/AKSDeploymentTutorialAML
	branch = master
[submodule "TrainMLModelHyperdrive"]
	path = submodules/TrainMLModelHyperdrive
	url = https://github.com/Microsoft/MLHyperparameterTuning
	branch = mabou/instrument
[submodule "DeployDeepModelPipelines"]
	path = submodules/DeployDeepModelPipelines
	url = https://github.com/Azure/Batch-Scoring-Deep-Learning-Models-With-AML
	branch = master
[submodule "DeployMLModelPipelines"]
	path = submodules/DeployMLModelPipelines
	url = https://github.com/Microsoft/AMLBatchScoringPipeline
	branch = master
[submodule "DeployRMLModelBatch"]
	path = submodules/DeployRMLModelBatch
	url = https://github.com/Azure/RBatchScoring
[submodule "DeployRMLModelKubernetes"]
	path = submodules/DeployRMLModelKubernetes
	url = https://github.com/Azure/RealtimeRDeployment
[submodule "DeploySparkMLModelDatabricks"]
	path = submodules/DeploySparkMLModelDatabricks
	url = https://github.com/Azure/BatchSparkScoringPredictiveMaintenance
[submodule "practices/recommenders"]
	path = ai300-practices/recommenders
	url = https://github.com/microsoft/recommenders
[submodule "practices/nlp"]
	path = ai300-practices/nlp
	url = https://github.com/microsoft/nlp
[submodule "practices/ComputerVision"]
	path = ai300-practices/ComputerVision
	url = https://github.com/microsoft/ComputerVision
[submodule "architectures/DeployDeepModelKubernetes"]
	path = ai200-architectures/DeployDeepModelKubernetes
	url = https://github.com/microsoft/AKSDeploymentTutorialAML
[submodule "architectures/DeployDeepModelPipelines"]
	path = ai200-architectures/DeployDeepModelPipelines
	url = https://github.com/Azure/Batch-Scoring-Deep-Learning-Models-With-AML
[submodule "architectures/DeployMLModelPipelines"]
	path = ai200-architectures/DeployMLModelPipelines
	url = https://github.com/microsoft/AMLBatchScoringPipeline
[submodule "samples"]
	path = ai100-samples/azure-machinelearning-examples
	url = https://github.com/Azure/MachineLearningNotebooks/
[submodule "ai-utilities"]
	path = utilities
	url = https://github.com/microsoft/ai-utilities
[submodule "ai300-practices/mlops"]
	path = ai300-practices/mlops
	url = https://github.com/microsoft/MLOps
[submodule "ai100-samples/cognitive-samples-intelligentkiosk"]
	path = ai100-samples/cognitive-samples-intelligentkiosk
	url = https://github.com/Microsoft/Cognitive-Samples-IntelligentKiosk
[submodule "ai100-samples/cognitive-services-samples"]
	path = ai100-samples/cognitive-services-samples
	url = https://github.com/Azure-Samples/cognitive-services-python-sdk-samples
[submodule "ai200-architectures/DeployRMLModelBatch"]
	path = ai200-architectures/DeployRMLModelBatch
	url = https://github.com/Azure/RBatchScoring
[submodule "ai200-architectures/RealtimeRDeployment"]
	path = ai200-architectures/DeployRMLModelKubernetes
	url = https://github.com/Azure/RealtimeRDeployment
[submodule "ai200-architectures/BatchSparkScoringPredictiveMaintenance"]
	path = ai200-architectures/DeploySparkMLModelDatabricks
	url = https://github.com/Azure/BatchSparkScoringPredictiveMaintenance
[submodule "ai200-architectures/TrainDistributedDeepModel"]
	path = ai200-architectures/TrainDistributedDeepModel
	url = https://github.com/Azure/DistributedDeepLearning
[submodule "submodules/HyperdriveDeepLearning"]
	path = submodules/TrainDLModelHyperdrive
	url = https://github.com/microsoft/HyperdriveDeepLearning
	branch = mabou/instrument
[submodule "ai100-samples/seismic-deeplearning"]
	path = ai100-samples/seismic-deeplearning
	url = https://github.com/microsoft/seismic-deeplearning/
[submodule "submodules/DeployMLModelKubernetes"]
	path = submodules/DeployMLModelKubernetes
	url = https://github.com/microsoft/MLAKSDeployAML
	branch = master
[submodule "ai200-architectures/MLHyperparameterTuning"]
	path = ai200-architectures/MLHyperparameterTuning
	url = https://github.com/microsoft/MLHyperparameterTuning
[submodule "ai100-samples/botframework-solutions"]
	path = ai100-samples/botframework-solutions
	url = https://github.com/microsoft/botframework-solutions
[submodule "ai200-architectures/ai201_az-ml-realtime-score"]
	path = ai200-architectures/ai201_az-ml-realtime-score
	url = https://github.com/microsoft/az-ml-realtime-score
