[submodule "DeployDeepModelKubernetes"]
	path = submodules/DeployDeepModelKubernetes
	url = https://github.com/Microsoft/AKSDeploymentTutorialAML
[submodule "DeployMLModelKubernetes"]
	path = submodules/DeployMLModelKubernetes
	url = https://github.com/Microsoft/MLAKSDeployAML
[submodule "TrainMLModelHyperdrive"]
	path = submodules/TrainMLModelHyperdrive
	url = https://github.com/Microsoft/MLHyperparameterTuning
[submodule "DeployDeepModelPipelines"]
	path = submodules/DeployDeepModelPipelines
	url = https://github.com/Azure/Batch-Scoring-Deep-Learning-Models-With-AML
[submodule "DeployMLModelPipelines"]
	path = submodules/DeployMLModelPipelines
	url = https://github.com/Microsoft/AMLBatchScoringPipeline
[submodule "TrainDistributedDeepModel"]
	path = submodules/TrainDistributedDeepModel
	url = https://github.com/Azure/DistributedDeepLearning/
[submodule "DeployRMLModelBatch"]
	path = submodules/DeployRMLModelBatch
	url = https://github.com/Azure/RBatchScoring
[submodule "DeployRMLModelKubernetes"]
	path = submodules/DeployRMLModelKubernetes
	url = https://github.com/Azure/RealtimeRDeployment
[submodule "DeploySparkMLModelDatabricks"]
	path = submodules/DeploySparkMLModelDatabricks
	url = https://github.com/Azure/BatchSparkScoringPredictiveMaintenance
[submodule "practices/recommenders"]
	path = practices/recommenders
	url = https://github.com/microsoft/recommenders
[submodule "practices/nlp"]
	path = practices/nlp
	url = https://github.com/microsoft/nlp
[submodule "practices/ComputerVision"]
	path = practices/ComputerVision
	url = https://github.com/microsoft/ComputerVision
