
# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

#AML
aml_config/
scripts/aml_config/
assets/
scripts/assets/
.amlignore
scripts/.amlignore
__pycache__/
scripts/__pycache__/

# Products
*.tsv
*.txt
*.pkl
datafolder/
lgbmenv.yml
score.py

.idea


