{
    "name": "Scoring Workflow",
    "existing_cluster_id": "<clusterid>",
    "timeout_seconds": 3600,
    "max_retries": 1,
    "notebook_task": {
        "notebook_path": "/Users/<uname@example.com>/notebooks/3_Scoring_Pipeline",
        "base_parameters": {
            "results_data": "HPresults_output",
            "model": "RandomForest",
            "start_date": "2015-11-15",
            "to_date": "2016-04-30"
        }
    }
}